body {
  background-color: #EFEFEF;
}
header {
  margin-top: 20px;
}

.container {
  width: 920px;
  margin: 0 auto 40px auto;
}
.header-title-area {
  margin-top: 40px;
  margin-bottom: 30px;
}

.logo {
  font-size: 32px;
  text-align: center;
}
.text-sub {
  color: #777;
}
.header-navigation {
  width: 100%;
  background-color: #333;
  padding: 20px 0;
}

.header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.header-navigation li {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.header-navigation li a {
  color: #eee;
  text-decoration: none;
}
.text-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.card-contents {
  padding: 30px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
}

.left-contents {
  width: 600px;
  margin-right: 20px;
 float: left;
}
.blog-title {
  color:blue;
  font-size:20px;
}
.right-contents {
  width: 300px;
  float: left;
}

.right-title {
  font-size: 12px;
  float:right;
}

.information-list {
  list-style-type: none;
  margin-left: 0;
}

.information-list li {
  margin-bottom: 10px;
}
.staff-list-area:after {
  clear: both;
  display: block;
  content: " ";
}
.staff-list {
  width: 150px;
  margin-right: 35px;
float:left;
}
.left_text {
  float:right;
}
.staff-list:last-child {
  margin-right: 0;
}
.left-image {
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
  display:block;
}
.datetime { 
  padding-right:20px;
}
.staff-name {
 text-align: center;
 float:left;
}
.copyright {
  color: #777;
  text-align: center;
}
.main:after {
  clear: both;
  display: block;
  content: " ";
}
.staff2-image {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  display: block;
}
.left_img {
  width:120px;
  height:120px;
  float:left;
}
.staff2-list {
  width: 20px;
  margin-right: 35px;
  float: left;
}
.staff2-image {
  width: 40px;
  height:40px;
}